DISCORD_TOKEN=
COMMAND_PREFIX=!
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=tinyllama
OLLAMA_TIMEOUT=120
ALLOWED_CHANNEL_IDS=
ALLOWED_USER_IDS=
MAX_CONTEXT_PAIRS=10
MEMORY_ACTIVE_WINDOW=20
MEMORY_COMPACT_THRESHOLD=40
MEMORY_COMPACT_SIZE=20
MEMORY_SUMMARY_CHANNEL_ID=1478093415509131296
MEMORY_SUMMARY_MAX_SEGMENTS=5
MEMORY_SUMMARY_MODEL=tinyllama
LOG_LEVEL=INFO
